.App {

}

.container{
  background-color: #0a0c10;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  min-width: 100vw;
  width: auto;
  justify-content: center;
  align-items: center;
}

.div1{
  display: flex;
  padding-top: 2vh;
}

.input{
  background-color: #a2c8b7;
  padding: 10px;
  width: 35vw;
  font-size: xx-large;
  height: 45px;
  border-radius: 10px;
  border-width: 0;
}

.button1, .button2{
  width: auto;
  border-radius: 10px;
  border-width: 0;
  font-size: x-large;
  font-weight: bold;
}

.button1{
  background-color: greenyellow;
  max-width: 18vw;
  margin-left: 10px;
  margin-right: 10px;
}

.button2{
  background-color: rgb(255, 62, 62);
  max-width: 28vw;
}

.button1:hover, .button2:hover{
  cursor: pointer;
}

.div2{

}

.div2 > h1{
  color: beige;
}

.div3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.toDoListDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 5vw;
  min-width: 350px;
  width: 50vw;
  padding-bottom: 0px;
}

.toDoListDiv > h1 {
  font-size: auto;
  margin: 5px;
  color: blanchedalmond;
  word-break: break-word;
}

.toDoListDiv > button {
  cursor: pointer;
  width: auto;
  height: 35px;
  border-radius: 10px;
  border-width: 0;
  margin: 5px;
  background-color: blanchedalmond;
  font-size: large;
  font-weight: bold;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
